{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ super() }}
{% endblock %}

{% block flash %}
    {{ super() }}
{% endblock %}

{% block content %}
<section id="game_choice" class="p-5 m-5">
    <h1>Select Game Mode</h1>
        <div class="game_modes">
            {% for mode in modes %}
            <div>
                <a href="{{url_for('chess_game_bp.start_game', minutes=mode[0], extra=mode[1])}}" class="mode_btn">
                    <div class="card p-3 m-0">
                        <h1>
                            {{mode[0]}}m + {{mode[1]}}s
                        </h1>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
</section>
{% endblock %}